html{
    font-size: 20px;
}


*{
margin: 0;
padding: 0;
}
header{
    padding: 1rem 0 1rem 1rem;
    background-color: rgb(255, 255, 255);
    height: 2rem;
    /* width: 100%; */
      
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.box{
display: flex;
gap: 1rem;
padding:0.5rem;
/* margin-left: 7rem; */
}
.icon{
    /* margin-left: 7rem;  */
    /* margin-bottom:0.7rem ; */
border-radius: 0.5rem;
padding: 0.5rem 1rem; 
    font-size: 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
    
}
.icon:hover {
    cursor: pointer;
    background-color: rgb(2, 94, 94);
}
    .ico
    { padding-top: 0.5rem;}
    
    
.box1{
    
font-size: 1.5rem;
/* padding-left: 3rem; */
}

.maindata {
    display:grid ;
    padding: 5rem;
    text-align: center;
    height: 10rem;
    background-color: cadetblue;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading{
    font-weight: 900;
    font-size: 3.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
   .maindatabutton{ 
    background-color: rgb(79, 130, 113);
    color: white;
    margin-top: 1rem;
    border-radius: 0.5rem;
padding: 0.5rem; 
    font-size: 1rem;
     text-decoration: none;

}
.start{
    display:grid ;
    padding: 5rem;
    text-align: center;
     font-size: 1rem;
     /* font-weight: 500; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-weight: 500;
}
.container2 { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 20rem;
    /* width: 50rem; */
    justify-items: center;
    padding: 0 1rem;
    gap: 0.5rem;

}
.box2{ 
    background-color: rgb(181, 173, 178);
    border-radius: 2rem;

}
.box2 img{
     width:100% ;
    height: 180px;
} 

.div2 {
    padding: 0.5rem 2rem 0 0.5rem;
  font-size: 1rem;

}
