*{
    padding: 0%;
    margin: 0px;
} 
img {
    width: 100%;
    /* height: 100%; */
}
header{

background-color:beige ;
color: rgb(255, 244, 230);
padding: 10px 50px ;
height:450px ;
background-image: url( https://i.pinimg.com/736x/51/d1/6e/51d16e03414aee66bedc4281a8dd5905.jpg  );
background-position:center ;
 background-repeat:  no-repeat;
background-size: cover;
}

h1{
    display: inline-block;
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 5px;
    /* font-family: ; */
}
ul{   
display: inline-block;
margin-left: 150px;}
li{
display: inline-block;
margin-left: 140px; 
font-size: 30px;
font-family: "Poppins", sans-serif;
font-weight: 50;

}
.v{
    margin-left: 60px;
    font-size: 30px;
    /* font-family:; */
}
.u{
    margin-left: 60px;
    font-size: 30px;
}
h2{
margin-top: 100px;
font-size: 45px;
font-family: cursive;
}
#p1 {
    width: 500px;
    margin: 20px 288px;
}
a{
    text-decoration: none;
display: inline-block;
color: palevioletred;
margin-left: 433px;
background-color: white;
 border-radius:30px ;
 font-size: 30px;
 font-weight: 500;
border-color: white;
padding: 10px 20px;
}
section{
    /* display:flex; */
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr 1fr;*
background-color: pink ;
background-size: cover;
padding: 50px 30px;
height: 200px;
}
h6{
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}
.abbi{

display: inline-block;
background-color: rgb(136, 115, 88);
padding-left:20px;
padding-right: 80px;
font-size: 18px;
font-weight:150 ;   
height: 200px;
/* font-family: unset; */
}
.j{
background-color:  rgb(205, 143, 153);
font-size: 18px;
font-weight: 150;
font-family: unset;
padding-left:10px ;
padding-right:20px;
height: 200px;
}


.j p{
    /* text-align: center; */
}


button{
padding: 10px 20px;
/* border-radius: 10px solid black; */
margin: 5px;
font-weight: 200;
font-size: medium;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-radius: 40px;
}
.m{
display: inline-block;
} 
.min{
display: flex;
background-color: rgb(255, 255, 255);
padding: 50px 30px;
height: 300px;
margin: 30px 40px;
margin-left: 120px;
}
h5{
    font-size: 30px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 30px;
}

.h{ 
    display: inline-block;
    background-color: #ddbaae;
    padding: 5px 10px;
    width: 250px;
    font-size: 20px;
}
.k{  

    display: inline-block;
    background-color: rgb(172, 121, 133);
    padding:5px 10px ;
    width: 250px;
    font-size: 20px;
}
.n{ 
    display: inline-block;
    background-color: cornsilk;
    padding:5px 10px ;
    width: 250px;
    font-size: 20px;
}
.nim{ 
    height: 40px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(69, 76, 51);
    background-size: cover;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.rar{
    /* margin-left: 400px; */
}
.sp{
   /* margin-bottom: 30px; */
   /* margin-left: 400px; */
}
.ro{
    /* margin-left: 300px; */
    text-align: center;


}
    