*{
padding: 0;
margin: 0%;
}

header{
    height: 400px;
 background-image: url(https://i.pinimg.com/1200x/4c/2f/78/4c2f7867bfe729bf6a6783e57ada6096.jpg);
background-size: cover;
padding: 5px 10px ;

}
h1{
    display: inline-block;
    font-size: 30px;
}
ul{
    display: inline-block;
    margin-left: 450px;
    font-family: fantasy;
}
li{
    display: inline-block;
    margin-left: 30px;
}
h2{
    text-align: center;
    margin-top:130px;
    color: white;
    
}
header p{ 
    text-align: center;
    color: white;
    margin: 15px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(255, 250, 250);
    background-color: rgb(53, 84, 53);
    margin-right: 27px;
    border-radius: 20px;
}
.types{
    text-align: center;
font-size: 25px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
background-color: bisque;
padding-top: 30px;
font-weight: 800;
}
.sec{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    background-color: bisque ;

}
.te{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
.ti{
    display: inline-block;
    padding:5px;
    font-size: 22px;
    margin-left: 5px;
    width: 350px;
}
.i{ display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
section{
    display: flex;
    flex-direction: row;
    background-color: bisque;
    padding: 20px 50px;
} 
h3{
    font-size: 27px;
}
.f{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.g{ 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight:300;
font-size: 18px;
}
.main{   
    padding: 10px 20px;
     width: 50%; 

    color: white;
    background-color: black;
}
.main1{    
    width: 50%;

 background-image: url(https://i.pinimg.com/1200x/e3/ee/ce/e3eeceddcabe048061cfe0ffd5f4feb8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h4{
    background-color: aliceblue;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 30px;
}
.container{
    display:flex;
flex-direction: row;
background-color: aliceblue;
gap: 25px;
justify-content: center;

 }
.m { display: inline-block; 
}
h5{
    padding-top: 30px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:bisque;
}
.three{
display:grid;
grid-template-columns: 1fr 1fr 1fr ;
    padding: 25px;
}

  .x{
    background-color: aliceblue;
    margin: 12px;
    padding: 42px;
    border-radius: 18%;
    text-align: center;
    font-size: 20px;
   }
   .y{
    border-radius:100px ;
    margin: 20px;
   }
   .end{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding: 30px 50px;
    justify-content: center;
    height: 400px;
   }
   .endimg{
width: 100%;
    height: 400px;
   }
   .end form{
    margin: 10px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   h6{
    font-weight: 100;
    font-size: 20px;
   }
   .sub{   
    font-size: 20px;
    border-radius: 50px;
    padding: 13px;
    background-color: rgb(54, 77, 54);
    margin: 5px;
   }
footer{
    background-color: rgb(60, 74, 60);
    text-align: center;
    height: 70px;
    padding-top: 60px;
    font-size: 27px;
    font-weight: 100;
    font-family: cursive;
}

input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 10px;
}